body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}
.second_headline_div{
  padding-bottom: 70px;
  text-shadow: 2px 2px 4px #000000;
}

#particles-js{
  background:firebrick;
  height:100%;
  background:black;
  position: relative;
}
/* .svg{ 
  padding: 20px;
} */
.white{
  background-color:white;
}
.navbar-inner {
  background:transparent;
}
.ulist{
  display: inline-block;
}
.list{
  display: inline-block;
  margin: 10px;
  font-family: 'Patua One', cursive;
}
a{
  color:white !important;
  opacity: 0.5;
}
.main_content{
  color:white;
  font-size:45px;
  display: inline-block;
  font-family: 'Archivo Black', sans-serif;
  opacity: 1;
  position: absolute;
  margin-top: 150px;
  font-family: 'Patua One', cursive;
}
.child_content{
  color:white;
  font-size:20px;
  font-family: 'Archivo Black', sans-serif;
  display: block;
  position: absolute;
  margin-top: 180px;
  font-family: 'Patua One', cursive;
}
.c_content{
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  position: absolute;
  margin-top: 180px;
  align-self: auto;
  color : yellow;
  opacity: 1;
  font-family: 'Patua One', cursive;
}
section{
  background-color: white;
  height:auto;
  width:100%;
}
.second_section{
  /* position: relative; */
  /* width:100%; */
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  background-color: #d1cebd;
  color: #343a40;
  padding: 50px 0;
}
.my_btn{
  position: absolute;
  margin-top: 20px;
  display: block;
  top:10px;
  left:0px;
}
.second_headline{
  color: white;
  padding-top: 40px;
  font-size: xx-large;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  font-family: 'Patua One', cursive;
  
}
.container{
  margin: 0;
}
.second_headline2{
      color: white;
      font-family: 'Patua One', cursive;
}
h3{
  color : black;
  opacity: 0.8;
  text-shadow: 4px 4px 7px white;
  font-family: 'Patua One', cursive;
  
}

.single_service{
  padding : 50px;
}
.detail{
  color :#808080;
}
.third_section_headings,.heading{
  color : black;
  opacity: 0.8;
  text-shadow: 1.2px 1.2px 3px rgb(82, 75, 75);
  font-family: 'Patua One', cursive;
  text-align: center;
  padding: 80px 0;
}
.third_section_heading2{
  text-shadow: 1px 1px 2px grey;
  padding-bottom: 80px;
  color : black;
}

.single-feature{
  background-color: #f4eeff;
  padding : 30px;
  margin-bottom: 30px;
  text-shadow: none;
  font-family: 'Patua One', cursive;
  opacity: 0.7;
}
.single-feature:hover{
  background-color: #fab700;
  opacity: 1;
  font-family: 'Concert One', cursive;
}
.fourth_section_facts{
  background-color: #fab700;
  opacity: 1;
  padding: 120px;
}
.single-fact h1 {
  font-weight: 700;
  font-size: 48px;
}
.single-fact p {
  color: #222;
}
.pb70{
  padding-bottom: 70px;
}
.fifth_section_gallery{
  padding: 120px;
}
.text-center{
  text-align: center;
}
.justify-content-center {
  justify-content: center!important;
}

.d-flex {
  display: flex!important;
}
.color-mint{
  padding: 10px 0 50px 0;
  text-shadow: 1px 1px 2px grey;
  padding-bottom: 80px;
  color : black;

}
.heading{
  padding-bottom: 10px;
}

.counter{
  font-family: 'Concert One', cursive;
  font-family: 'Patua One', cursive;
}
.single-fact p{
  font-size: 17px;
  font-family: 'Patua One', cursive;
}
.section5_cards { 
  opacity: 0;
}
/* .images_section{
  background-color: black;
} */
@media only screen and (max-width:600px){
  .main_content,.child_content,.c_content{
    transform: translateX(-20) ;
    margin: 0;
    /* padding-top:2px ; */
    /* text-align: left; */
    font-size:20px;
    /* background-color: red; */
  }
}

@media only screen and (max-width:600px){
  .block{
    display: block;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 600px) and (max-width: 780px){
  .main_content,.child_content {
      /* background-color: blue; */
      font-size: 25px;
      margin: 0;
  }
  my_btn{
    top:25;
  }
}


@media (max-width: 960px)
{
  .single-service {
   margin-bottom: 30px;
   text-align: center;
   } 
}